body
	background: #FFF
	line-height: 1.5
	font-family: $astra
	font-size: 14px

a 
	color: inherit
	text-decoration: none

.title
	text-transform: uppercase
	font-size: 16px
	font-weight: 700
	text-align: center
	line-height: 1.31
	span
		display: inline-block
		padding: 0 12px 6px
		border-bottom: 2px solid $green

// section 
// 	margin-bottom: 24px

.message-sending
	display: none
	position: fixed
	top: 20px
	right: 20px
	left: 20px
	padding: 32px 40px
	z-index: 100
	background-color: #fff
	color: #090909
	box-shadow: 0 0 5px 0 rgba(0,0,0,.1)
	font-size: 24px
	border-radius: 5px
	border: 2px solid #090909
	&__x
		position: absolute
		top: 4px
		right: 10px
		display: inline-block
		font-size: 24px
		color: red
		background: none