#map 
	height: 400px
	width: 100%
	// area[log="miw"]
	// 	display: block
	// 	width: 200px
	// 	height: 100px

.contacts
    margin: 24px 0 0
    &__title
        margin-bottom: 20px

.map-wrapper
	position: relative
	border-bottom: 1px solid #cbcbcb
	border-top: 1px solid #cbcbcb

.reserve
	position: absolute
	right: calc(50% - 585px)
	top: 50%
	transform: translateY(-50%)
	background-color: $white
	z-index: 5
	padding: 38px
	+lg 
		right: calc(50% - 485px)
	+md 
		position: static
		transform: none
	&__adress,
	&__phone,
	&__time
		padding-left: 22px
		position: relative
		letter-spacing: 0.04em
		word-spacing: -0.05em
	&__adress
		padding-bottom: 15px
	&__last
		padding-bottom: 22px
	&__icon
		position: absolute
		left: 0
		top: 2px
		.icon
			color: #999999
			.reserve__time &
				font-size: 17px
		// .reserve__adress &
		// 	top: 2px
		// .reserve__phone &
		// 	top: 13px
		// .reserve__time &
		// 	top: 2px
	&__form 
		display: flex
		align-items: center
		margin-top: 30px
		flex-wrap: wrap
	&__button
		display: inline-block
		width: 264px
		padding: 15px
		border: 2px solid #cccccc
		line-height: 1.5
		font-size: 14px
		font-family: $astra
		font-weight: 700
		text-align: center
		transition: border-color $tr
		+lg 
			width: 200px
		+sm 
			width: 100%
			padding: 10px
		&:first-child
			margin-right: 24px
			+sm 
				margin-right: 0
				margin-bottom: 16px
		&:hover
			border: 2px solid $green
		&_highlighted
			border: 2px solid $green
	