--- title: Index page ---
{% extends "layouts/_layout.html" %}

{% block content %}

    <div class="js-success message-sending">Ваш запрос принят, ожидайте. Наш менеджер с вами свяжется в течении 15 минут.
        <button class="message-sending__x js-close">&#10006;</button>
    </div>

    <div class="js-error message-sending"></div>

    {% include "partials/_header.html" %}
    {% include "partials/_hero.html" %}
    {% include "partials/_advantages.html" %}
    {% include "partials/_halls.html" %}
    {% include "partials/_clients.html" %}
    {% include "partials/_discount.html" %}
    {% include "partials/_awards.html" %}
    {% include "partials/_dishes.html" %}
    {% include "partials/_contacts.html" %}
    {% include "partials/_footer.html" %}
    {% include "partials/_order-form.html" %}

{% endblock %}