<section class="clients">
    <div class="clients__container container-inner">
        <h3 class="clients__title title">
            У НАС ОТМЕЧАЛИ СОБЫТИЯ
        </h3>
        <div class="clients__logos js-clients-slider">
            <a href="#" class="clients__logo">
                <img src="img/client-1.png" alt="client1">
            </a>
            <a href="#" class="clients__logo">
                <img src="img/client-2.png" alt="client1">
            </a>
            <a href="#" class="clients__logo">
                <img src="img/client-1.png" alt="client1">
            </a>
            <a href="#" class="clients__logo">
                <img src="img/client-2.png" alt="client1">
            </a>
            <a href="#" class="clients__logo">
                <img src="img/client-1.png" alt="client1">
            </a>
            <a href="#" class="clients__logo">
                <img src="img/client-2.png" alt="client1">
            </a>
            {# <a href="#" class="clients__logo">
                <img src="img/client-3.png" alt="client1">
            </a> #}
        </div>
    </div>
</section>