<section class="dishes">
    <h3 class="title">
        <span>кухня</span>
    </h3>
    <div class="dishes__slider js-slider">
        <div class="slide">
            <div class="slide__image" style='background-image: url(img/slider_1.jpg);'></div>
        </div>
        <div class="slide">
            <div class="slide__image" style='background-image: url(img/slider_2.jpg);'></div>
        </div>
        <div class="slide">
            <div class="slide__image" style='background-image: url(img/slider_3.jpg);'></div>
        </div>
        <div class="slide">
            <div class="slide__image" style='background-image: url(img/slider_4.jpg);'></div>
        </div>
        <div class="slide">
            <div class="slide__image" style='background-image: url(img/slider_5.jpg);'></div>
        </div>
    </div>
</section>