<header class="header js-header">
    <div class="container-inner header__container">
        <div class="header__logo">
            <a href="index.html" class="logo">
                <img src="img/logo.png" alt="main-logo"/>
            </a>
        </div>
        <nav class="nav js-nav" role="navigation">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#first">1 этаж (10-100 персон)</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#second">2 этаж (10-60 персон)</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#caraoke">караоке (10-50 персон)</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#veranda">Веранда (10-200 персон)</a>
                </li>
                <li class="nav__item nav__item_contacts">
                    <a href="tel:+74956425962" class="nav__phone">+7 (495) 642-59-62</a>
                    <a href="mailto:banket@bamboobar.su" class="nav__email">banket@bamboobar.su</a>
                    <ul class="lang">
                        <li class="lang__item"><a class="lang__link" href="#">RU</a></li>
                        <li class="lang__item"><a class="lang__link" href="#">EN</a></li>
                        <li class="lang__item"><a class="lang__link" href="#">CHN</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="#" class="toggle-button js-toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>