<div data-modal="booking" class="modal">
    <div class="modal__container" data-modal-container="data-modal-container">
        <div class="modal__inner">
            <form action="order_form.php" class="form form_order js-order-form js-form" method="post">
                <h3 class="form__title title">
                    <span>Оставить заявку на банкет</span>
                </h3>
                <div class="form__input-group">
                    <span class="form__icon">
                        {{mixins.icon('user')}}
                    </span>
                    <input type="text" class="form__input" placeholder="Ваше Имя" name="order-name" required="required" autocomplete="off"/>
                </div>
                <div class="form__row">
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('call-answer')}}
                            </span>
                            <input type="text" class="form__input js-phone-mask" placeholder="Номер телефона" name="order-phone" required="required" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('people')}}
                            </span>
                            <input type="text" class="form__input" placeholder="Количество персон" name="number-of-people" autocomplete="off" data-inputmask="'mask': '99999999999999999'" data-inputmask-placeholder=""/>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('date')}}
                            </span>
                            <span class="form__icon-down">
                                {{mixins.icon('down')}}
                            </span>
                            <input type="text" class="form__input js-datepicker" placeholder="Дата" name="date" required="required" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('time')}}
                            </span>
                            <input type="text" class="form__input" placeholder="Время" name="time" autocomplete="off" data-inputmask-alias="datetime" data-inputmask-inputFormat="HH:MM"  data-inputmask-max="24" data-inputmask-placeholder="ЧЧ:ММ"/>
                        </div>
                    </div>
                </div>
                <div class="form__input-group">
                    <textarea class="form__textarea" placeholder="Ваш комментарий" name="order-comments"></textarea>
                </div>
                <div class="form__button-wrapper">
                    <button type="submit" class="btn btn_green btn_w100 js-btn-submit" value="Receive a result of calculation">Оставить заявку</button>
                </div>
                <div class="form__parking">{{ mixins.icon('parking') }}Бесплатная парковка для гостей</div>
            </form>
        </div>
    </div>
</div>

<div data-modal="reserve" class="modal">
    <div class="modal__container" data-modal-container="data-modal-container">
        <div class="modal__inner">
            <form action="order_form.php" class="form form_order js-order-form js-form" method="post">
                <h3 class="form__title title">
                    <span>Зарезервировать стол</span>
                </h3>
                <div class="form__row">
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('date')}}
                            </span>
                            <span class="form__icon-down">
                                {{mixins.icon('down')}}
                            </span>
                            <input type="text" class="form__input js-datepicker" placeholder="Дата" name="date" required="required" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form__col">
                        <div class="form__input-group">
                            <span class="form__icon">
                                {{mixins.icon('time')}}
                            </span>
                            <input type="text" class="form__input" placeholder="Время" name="time" autocomplete="off" data-inputmask-alias="datetime" data-inputmask-inputFormat="HH:MM"  data-inputmask-max="24" data-inputmask-placeholder="ЧЧ:ММ"/>
                        </div>
                    </div>
                </div>
                <div class="form__input-group">
                    <textarea class="form__textarea" placeholder="Ваш комментарий" name="order-comments"></textarea>
                </div>
                <div class="form__button-wrapper">
                    <button type="submit" class="btn btn_highlighted btn_w100 js-btn-submit" value="Receive a result of calculation">Зарезервировать стол</button>
                </div>
                <div class="form__parking">{{ mixins.icon('parking') }}Бесплатная парковка для гостей</div>
            </form>
        </div>
    </div>
</div>

<div data-modal="myself" class="modal">
    <div class="modal__container" data-modal-container="data-modal-container">
        <div class="modal__inner">
            <form action="order_form.php" class="form form_order js-order-form js-form" method="post">
                <h3 class="form__title title">
                    <span>Заказать с собой</span>
                </h3>
               <div class="form__input-group">
                   <span class="form__icon">
                       {{mixins.icon('user')}}
                   </span>
                   <input type="text" class="form__input" placeholder="Ваше Имя" name="myself-name" required="required" autocomplete="off"/>
               </div>
               <div class="form__row">
                   <div class="form__col">
                       <div class="form__input-group">
                           <span class="form__icon">
                               {{mixins.icon('call-answer')}}
                           </span>
                           <input type="text" class="form__input js-phone-mask" placeholder="Номер телефона" name="myself-phone" required="required" autocomplete="off"/>
                       </div>
                   </div>
                   <div class="form__col">
                       <div class="form__input-group">
                           <span class="form__icon">
                               {{mixins.icon('email-outline')}}
                           </span>
                           <input type="email" class="form__input" placeholder="Email" name="myself-email" required="required" autocomplete="off"/>
                       </div>
                   </div>
               </div>
               <div class="form__input-group">
                   <textarea class="form__textarea" placeholder="Ваш комментарий" name="order-comments"></textarea>
               </div>
                <div class="form__button-wrapper">
                    <button type="submit" class="btn btn_highlighted btn_w100 js-btn-submit" value="Receive a result of calculation">Оставить заявку</button>
                </div>
                <div class="form__parking">{{ mixins.icon('parking') }}Бесплатная парковка для гостей</div>
            </form>
        </div>
    </div>
</div>