.icon-barman {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-best {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-call-answer {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-champagne {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-left {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-right {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-clock {
  width: 0.99em;
  height: 1em;
  fill: currentColor;
}
.icon-discount {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-first-verand {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-first {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-karaoke {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-map-marker {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-maps-and-flags {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tripadvisor {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-user {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
}
.icon-users {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-winner {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
